img {
  border-radius: 50%;
  float: left;
}
.Head {
  background-color: beige;
  position: static;
}
h1 {
  font-family: 'Cookie', cursive;
  font-size: 100px;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  body {
      background-color: black;
      color: white;
  }
}
@media screen and (min-width: 768px) {
body {
  background-color: whitesmoke;
}
.important {
  background-color: beige;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
video {
  border-radius: 25px;
  width: 100%;
}
.Intro {
  font-size: 25px;
}
h2 {
  font-family: 'Cookie', cursive;
}